<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><b>Построитель отчета по задаче</b></h3>
    </div>
    <div class="panel-body panel-bg">


    </div>
</div>