<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><b>Построитель отчета по сотруднику</b></h3>
    </div>
    <div class="panel-body panel-bg">
        <form id="bow_build_form">
            <div class="form-group v-space-5">
                <div class="col-xs-2 v-space-5">
                    <label for="boс_report_name" class="control-label elem-inline">Название отчета</label>
                </div>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="boс_report_name" placeholder="Название отчета"/>
                </div>
            </div>

            {% if is_admin == 1 %}
            <div class="clearfix"></div>
            <div class="col-xs-2 v-space-10">
                <a href="#" class="" id="bow_select_worker"><b>Сотрудник <i class="fa fa-caret-down "></i></b></a>
            </div>
            <div class="col-xs-10">
                <p class="v-space-10"><b><span data-boc_object_id="" id="boc_object_name">--</span></b></p>
            </div>
            {% endif %}

            <div class="clearfix"></div>
            <div class="form-group v-space-10">
                <label for="boc_report_period" class="control-label col-xs-2 v-space-5">За период:</label>
                <div class="col-xs-3">
                    <select id="boc_report_period" class="form-control">
                        <option value="curWeek">Текущая неделя</option>
                        <option value="prevWeek">Предыдущая неделя</option>
                        <option value="curMonth">Текущий месяц</option>
                        <option value="prevMonth">Предыдущий месяц</option>
                        <option value="range">Указать период</option>
                    </select>
                </div>
                <div class="form-group col-xs-7">
                    <label for="boс_fday" class="control-label elem-inline">с: </label>
                    <input type="date" class="form-control elem-inline width-150" id="boс_fday" value="{{ fday }}">
                    <label for="boс_lday" class="control-label elem-inline">по: </label>
                    <input type="date" class="form-control elem-inline width-150" id="boс_lday" value="{{ lday }}">
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="col-xs-10 v-space-15">
                <button type="button" id="boc_build_report" class="btn btn-warning" disabled="disabled">
                    Построить отчет
                </button>
                <button type="button" id="boc_save_report" class="btn btn-warning" disabled="disabled">
                    Сохранить отчет
                </button>
            </div>
        </form>
    </div>
</div>