<!-- Modal ajax msg-->
<div class="modal fade" id="ajax_msg_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Мастер отчетов</h4>
            </div>
            <div id="ajax_msg" class="modal-body">
                Я Модаль!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <!-- <button type="button" class="btn btn-primary">Сохранить изменения</button>     -->
            </div>
        </div>
    </div>
</div>