<ul class="nav nav-pills" style="font-weight: bold">
    <li id="home" class="active"><a href="#">Создать/редактировать запись</a></li>
    <li id="show_items"><a href="#">Показать записи</a></li>
    <li id="build_report" class="dropdown">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Построить отчет <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li id="build_client"><a href="#">По доверителю</a></li>
            <li id="build_worker"><a href="#">По сотруднику</a></li>
            {#<li id="build_task"><a href="#">По задаче</a></li>
            <li id="build_group"><a href="#">По группе</a></li>
            <li class="divider"></li>#}
        </ul>
    </li>
    <li id="manage_reports" class="" ><a href="#">Управлять отчетами</a></li>
    <li id="settings" class="disabled navbar-right"><a href="#">Настройки</a></li>
</ul>

