<div class="clearfix"></div>
<div class="panel panel-default v-space-5">
    <div class="panel-heading">
        <h3 class="panel-title elem-inline"><b>Управление отчетами</b></h3>
    </div>
    <div class="panel-body">
        <div class="btn-group" style="float: left;">
            <button type="button" id="report_btn_curmonth" class="btn btn-default "><b>Текущий месяц</b></button>
            <button type="button" id="report_btn_prevmonth" class="btn btn-default "><b>Предыдущий месяц</b></button>
        </div>

        <div class="clearfix"></div>
        {% if is_admin == 1 %}
            <div class="form-group form-inline col-xs-12 v-space-10" style="padding-left: 0px;">
                <fieldset>
                    <div class="col-xs-2">
                        <label class="control-label">Показать отчеты:</label>
                    </div>
                    <div class="col-xs-10">
                        <label class="radio-inline elem-block">
                            <input type="radio" id="my_reports"
                                   value="my" name="include_reports" checked> Мои отчеты</label>
                        <label class="radio-inline elem-block" style="margin-left: 0;">
                            <input type="radio" id="selected_user"
                                   value="selectedUser" name="include_reports"> Выбранного <a href="#"
                                   id="report_select_user" class="dashed-link">сотрудника:</a>&nbsp;
                            <b><span data-report_user_id="" id="report_user_name">--</span></b>
                        </label>
                    </div>
                </fieldset>
            </div>
        {% endif %}

        <table class="table table-condensed table-hover table-striped v-space-10">
            <thead>
            <tr>
                <th>##</th><th>Название отчета</th><th>Дата создания</th><th>Скачать</th>
            </tr>
            </thead>
            <tbody>
            {% for d in reportList %}
                <tr id="{{ d.id }}">
                    <td>
                        <p class="text-center" style="width:10px; padding-top: 15px;">{{ loop.index }}</p>
                    </td>
                    <td>
                        <a href="#" data-report-id="{{ d.id }}" class="report_id">{{ d.report_name }}</a>
                        <span><small><i><br>Исполнитель - <b>{{ d.user_fio }}</b></i></small></span>
                        <span><small><i> За период <b>с {{ d.correct_first_day }} по {{ d.correct_last_day }}</b></i></small></span>
                    </td>
                    <td>
                        {{ d.correct_date }}
                    </td>
                    <td>
                        <a href="/apps/hourly-reports/reports/{{ d.excel_file }}" class="btn btn-xs btn-warning">Скачать Excel</a>
                        {#<a href="/apps/hourly-reports/reports/{{ d.pdf_file }}" class="btn btn-xs btn-warning">Скачать Pdf</a>#}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>




